
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/doc_db?schema=public"

OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

TMDB_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXX
